* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    --primary-color: #3a3a3a;
    --btn-color: #E02C6D;
}
.btn-primary{
    border-radius: 41px;
    background: #E02C6D;
    color: #fff;
    padding: 10px 16px;
    border: none

}

/* Header styles  Nav*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}

nav>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

nav li {
    list-style: none;
    color: var(--primary-color);
}

.nav-title {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
}
/* header main styles */
.header-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4.4rem 11.25rem;
    gap: 20px;
}
.header-title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 3rem;
    max-width: 550px;
    margin-bottom: 1rem;
}
.header-desc{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
/* @media query for mobile */
@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
        margin-top: 10px;
    }
    .header-content{
        flex-direction: column-reverse;
        margin: 0px;
    }
    .header-title{
        font-size: 1.8rem;
        text-align: center;
    }
    .header-desc{
        text-align: center;
    }
    .btn-primary{
        margin-left: 8.5rem;
    }


}